<h3> <%= link_to "Home", "/" %> </h3> 

<h1>All Shelters:</h1>

<% @shelters.each_with_index do |shelter, index| %>
  <div id="shelter-<%= index %>">
    <h3><%= shelter.name %></h3>
    <p>Created at: <%= shelter.created_at %></p>
  </div>
<% end %>
